@media (max-width: 768px){
    .conteiner-principal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        height: auto;
        width: 90vw;
        margin-left: 10px;
        
        
    }
    .conteudo h1, p{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: -10px;
      
      
    }

    .formulario{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: -10px;
        width: 310px;
        height: 348px;
        
    }

    
    

}
