@media (max-width: 650px){
    .conteiner-principal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        height: 100%;
        width: 650px;
        
        
    }
    .conteudo h1, p{
        text-align: center;
        align-items: center;
        margin-left: -10px;
    }

    
    

}